@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&family=Fugaz+One&display=swap');

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body{
    Background: #1a1a1a;
}

.encabezados{
    font-family: 'Fugaz One', cursive;
    color: #00f29e;
}

.encabezados h1{
    color:#000;
    color: white;
}

.caja{
    width: 1100px;
    height: 550px;
    margin: 60px auto;
    padding: 20px;
}

.caja-img{
    float: left;
}

.img{
    width: 485px;
    float: left;
    margin-right: 30px;
}

.texto{
    margin: 10px 0;
    text-align: justify;
    color: white;
    width: 500px;
}

.datos{
    width: 500px;
    font-family: 'Dosis', sans-serif;
    margin: 5px 0;
    border: solid 2px #00f29e;
    display: inline-block;
    color: white;
    padding: 15px;
}
.contenido{
    width: 500px;
    float: left;
}

.logos ul{
    list-style-type: none;
}

.logos ul li{
    margin-right: 12px;
    display: inline-block;
}

.logos{
    margin: 5px 0;
}

hr{
    width: 120px;
    position: relative;
    left: 15px;
    
}

.datos-text-1{
    float: left;
}

.datos-text-1 p{
    margin: 15px 10px;
}

.datos-text-2{
    float: left;
}

.datos-text-2 p{
    margin: 15px 70px;
}
