@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

*{
    border: 0;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
}

ul{
    list-style: none;
}

.div-listas ul{
    display: flex;
    flex-direction: column;
    font-weight: 750;
}

.div-listas ul li{
    margin:5px 0;
    border-bottom: solid 1px black;
}

h1, h2, h3, h4, h5, h6, p, a, li{
    margin: 0;
    text-decoration: none;
    list-style: none;
}

.box-complete{
    width: 100%;
}

header, .div-header{
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.div-header img{
    margin: 0 auto;
}

.div-header{
    background: aquamarine
}

.section-1{
    width: 100%;
    height: 900px;
    background: silver;
    display: flex;
    flex-direction: row;
}

.texto-section-1{
    width: 100%;
    height: 100%;
    background: url('imagenes/logo-mobil-enfermera.jpg');
    background-size: cover;
    background-position: 50%;
    text-align: center;
    font-weight:600;padding-top: 30px;
}

.texto-section-1 h1{
    color: white;
    font-size: 2.5em;
    text-shadow: 1px 1px 15px #000;
    margin-bottom: 30px;
}



.aparece{
    width: 100%;
    height: 100%;
    background: url('imagenes/section-1-enfermero.png');
    background-size: cover;
    padding-right: 500px;
    background-position: 100%;
    display: none;
}

.texto-section-1 li{
    background-color: #fff;
    width: 70%;
    margin: 40px auto;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 1px 1px 10px ;  
    transition: background 1.5s, transform 1.5s;
    color: #000;
}

.texto-section-1 li:hover{
    background-color: orange;
    transform: scale(1.2);
}

footer{
    background-color: gray;
    width: 100%;
    height: 80px;
    padding-top: 30px;
    text-align: center;
    
}

.div-listas ul li:hover{
    border: none;
    cursor: pointer;
    color: orange;
}

footer h3{
    color: #000;
    text-shadow: 1px 1px 1.5px;
}

@media screen and (min-width:850px) {
    .section-1{
        width: 100%;
        height: 1010px;

    }

    .div-listas ul{
        display: flex;
        flex-direction: row;
        font-weight: 750;
    }

    .div-header{
        padding: 15px 0;
    }

    .div-listas ul li{
        border: none;
        padding-left: 50px;
        padding-right: 20px;
        font-weight: 800;
    }

    .div-header{
        flex-direction: row;
        align-items: center;
    }

    .texto-section-1 li a{
        font-size: 2em;
    }
}

@media screen and (min-width:1000px) {
    .texto-section-1{
        display: none;
    }

    .div-header img{
        margin-left: 30px;
    }

    .aparece{
        display: block;
    }
}


@media screen and (min-width:1450px) {
    .mmm li{
        margin-left: 150px;
    }

    .aparece h1{
        width: 100%;
        margin-left: 0;
    }

    .div-header img{
        margin-left: 30px;
    }
}


